<div class="container h-100">
  <div class="inbox-interface h-100">
    <div class="row">
      <div class="contact-list">
        <header>
          <h4>{user.username}</h4>
          <button data-bs-target="#modal-compose" data-bs-toggle="modal"><i class="fa fa-edit"></i></button>
        </header>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-target="#messages-primary" data-bs-toggle="tab" href="#">PRIMARY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-target="#messages-general" data-bs-toggle="tab" href="#">GENERAL</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="messages-primary" role="tabpanel">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="#" data-chatUid="1">
                    <img height="56" src="https://via.placeholder.com/56x56" width="56" alt="Avatar">
                    <p><strong>DYNAMIC-TYPO3-LINK</strong><br>liked your video. <span>33m</span></p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                    <img height="56" src="https://via.placeholder.com/56x56" width="56" alt="Avatar">
                  <p>
                    <strong>henry_maske23</strong><br>liked your video. <span>33m</span>
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                    <img height="56" src="https://via.placeholder.com/56x56" width="56" alt="Avatar">
                  <p>
                    <strong>henry_maske23</strong><br>liked your video. <span>33m</span>
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                    <img height="56" src="https://via.placeholder.com/56x56" width="56" alt="Avatar">
                  <p>
                    <strong>henry_maske23</strong><br>liked your video. <span>33m</span>
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                    <img height="56" src="https://via.placeholder.com/56x56" width="56" alt="Avatar">
                  <p>
                    <strong>henry_maske23</strong><br>liked your video. <span>33m</span>
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                    <img height="56" src="https://via.placeholder.com/56x56" width="56" alt="Avatar">
                  <p>
                    <strong>henry_maske23</strong><br>liked your video. <span>33m</span>
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                    <img height="56" src="https://via.placeholder.com/56x56" width="56" alt="Avatar">
                  <p>
                    <strong>henry_maske23</strong><br>liked your video. <span>33m</span>
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                    <img height="56" src="https://via.placeholder.com/56x56" width="56" alt="Avatar">
                  <p>
                    <strong>henry_maske23</strong><br>liked your video. <span>33m</span>
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                    <img height="56" src="https://via.placeholder.com/56x56" width="56" alt="Avatar">
                  <p>
                    <strong>henry_maske23</strong><br>liked your video. <span>33m</span>
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                    <img height="56" src="https://via.placeholder.com/56x56" width="56" alt="Avatar">
                  <p>
                    <strong>henry_maske23</strong><br>liked your video. <span>33m</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="messages-general" role="tabpanel">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="#">
                    <img height="56" src="https://via.placeholder.com/56x56" width="56" alt="Avatar">
                  <p>
                    <strong>henry_maske23</strong><br>liked your video. <span>33m</span>
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                    <img height="56" src="https://via.placeholder.com/56x56" width="56" alt="Avatar">
                  <p>
                    <strong>henry_maske23</strong><br>liked your video. <span>33m</span>
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                    <img height="56" src="https://via.placeholder.com/56x56" width="56" alt="Avatar">
                  <p>
                    <strong>henry_maske23</strong><br>liked your video. <span>33m</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="message-list">
        <header>
          <img class="rounded-circle border me-2" height="32" src="https://via.placeholder.com/32x32" width="32">
          <div class="lh-1 small">
            <strong>henry_maske23</strong><br><span class="text-muted">Active 33m ago</span>
          </div>
        </header>
        <ul class="chat">
          <li class="date">
            <time>July 7, 2021 6:11 pm</time>
          </li>
          <li class="end">
            <p>
              Hello, I wanted to ask for your patience...
            </p>
            <img height="32" src="https://via.placeholder.com/32x32" width="32">
          </li>
          <li class="end">
            <p>
              Hello, I wanted to ask for your patience...
            </p>
            <img class="rounded-circle ms-2" height="32" src="https://via.placeholder.com/32x32" width="32">
          </li>
          <li class="end">
            <p>
              Hello, Hello?????
            </p>
            <img class="rounded-circle ms-2" height="32" src="https://via.placeholder.com/32x32" width="32">
          </li>
          <li class="date">
            July 6, 2021 6:11 pm
          </li>
          <li>
            <img class="rounded-circle me-2" height="32" src="https://via.placeholder.com/32x32" width="32">
            <p>
              Hello, I wanted to ask for your patience...<br>when this shit is over we will drink rum and eat ribs! I can't wait to visit you in Panama, dude!
            </p>
          </li>
          <li class="end">
            <p>
              Hello, I wanted to ask for your patience...
            </p>
            <img class="rounded-circle ms-2" height="32" src="https://via.placeholder.com/32x32" width="32">
          </li>
          <li class="end">
            <p>
              Hello, I wanted to ask for your patience... I can't wait to visit you in Panama, dude! I wanted to ask for your patience...
            </p>
            <img class="rounded-circle ms-2" height="32" src="https://via.placeholder.com/32x32" width="32">
          </li>
          <li class="end">
            <p>
              Hello, I wanted to ask for your patience... I can't wait to visit you in Panama, dude! I wanted to ask for your patience...
            </p>
            <img class="rounded-circle ms-2" height="32" src="https://via.placeholder.com/32x32" width="32">
          </li>
          <li>
            <img class="rounded-circle me-2" height="32" src="https://via.placeholder.com/32x32" width="32">
            <p>
              Hello, I wanted to ask for your patience...<br>when this shit ;-)
            </p>
          </li>
          <li>
            <img class="rounded-circle me-2" height="32" src="https://via.placeholder.com/32x32" width="32">
            <p>
              Hello, I wanted to ask for your patience...<br>when this shit is over we will drink rum and eat ribs! I can't wait to visit you in Panama, dude!
            </p>
          </li>
          <li class="end">
            <p>
              Hello, I wanted to ask for your patience... I can't wait to visit you in Panama, dude! I wanted to ask for your patience...
            </p>
            <img class="rounded-circle ms-2" height="32" src="https://via.placeholder.com/32x32" width="32">
          </li>
          <li class="end">
            <p>
              Hello, I wanted to ask for your patience... I can't wait to visit you in Panama, dude! I wanted to ask for your patience...
            </p>
            <img class="rounded-circle ms-2" height="32" src="https://via.placeholder.com/32x32" width="32">
          </li>
        </ul>
        <footer>
          <div class="input-group-text border-0 bg-transparent">
            <div class="dropup">
              <button class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-smile"></i></button>
              <div class="dropdown-menu p-3 border">
                <p>
                  here is my custom content!
                </p>
              </div>
            </div>
          </div>
          <textarea onkeyup="gram.textAreaAdjust(this)" placeholder="Your message..." rows="1" type="text"></textarea>
          <div class="input-group-text border-0 bg-transparent">
            <a href="#" class="link-dark small fw-bold text-decoration-none">Send</a>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
