{
   "id": "2",
   "username": "Jilmaz Siyminük",
   "location": "Antalya, Turkey",
   "content": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.",
   "media":[
      {
        "type": "image",
        "path": "https://via.placeholder.com/480x480"
      },
      {
        "type": "image",
        "path": "https://via.placeholder.com/480x480"
      },
      {
        "type": "image",
        "path": "https://via.placeholder.com/480x480"
      },
      {
        "type": "image",
        "path": "https://via.placeholder.com/480x480"
      },
      {
        "type": "image",
        "path": "https://via.placeholder.com/480x480"
      },
      {
        "type": "image",
        "path": "https://via.placeholder.com/480x480"
      },
      {
        "type": "image",
        "path": "https://via.placeholder.com/480x480"
      },
      {
        "type": "image",
        "path": "https://via.placeholder.com/480x480"
      },
      {
        "type": "image",
        "path": "https://via.placeholder.com/480x480"
      }
  ]
}
