<div class="container">
  <div class="gallery-grid explore">

    <f:for each="{posts}" as="post" iteration="count">

        <f:if condition="{count.index} == 0">
            <div class="col">
                <f:render section="link" arguments="{classes:'mb-2 mb-md-3 mb-lg-4',likes:post.likes,comments:'98'}"/>
        </f:if>

        <f:if condition="{count.index} == 1">
                <f:render section="link" arguments="{likes:post.likes,comments:'98'}"/>
            </div>
        </f:if>

        <f:if condition="{count.index} == 2">
            <div class="col">
                <f:render section="link" arguments="{classes:'',likes:post.likes,comments:'98',imgclasses:'w-100'}"/>
            </div>
        </f:if>

        <f:if condition="{count.index} > 2">
            <div class="col">
                <f:render section="link" arguments="{likes:post.likes,comments:'98'}"/>
            </div>
        </f:if>

    </f:for>

  </div>
</div>

<f:section name="link">
    <a data-bs-target="#modal-post" data-bs-toggle="modal" href="#" class="{classes}">
      <div>
        <img class="img-fluid {imgclasses}" src="https://via.placeholder.com/480x480">
      </div>
      <div class="overlay">
        <i class="fa fa-heart"></i>{likes}<i class="fa fa-comment"></i>{comments}
      </div>
    </a>
</f:section>
