<f:debug title="_all">{_all}</f:debug>
<div class="container">
  <div class="gallery-grid explore" id="gallery2">

    <f:comment>
    <div class="col">
      <a class="mb-2 mb-md-3 mb-lg-4" data-bs-target="#modal-post" data-bs-toggle="modal" href="#">
        <div>
          <img class="img-fluid" src="img/love.jpg">
        </div>
        <div class="overlay">
          <i class="fa fa-heart"></i>387<i class="fa fa-comment"></i>81
        </div>
      </a>
      <a data-bs-target="#modal-post" data-bs-toggle="modal" href="#">
        <div>
          <img class="img-fluid" src="https://via.placeholder.com/480x480">
        </div>
        <div class="overlay">
          <i class="fa fa-heart"></i>387<i class="fa fa-comment"></i>81
        </div>
      </a>
    </div>
    </f:comment>

    <f:for each="{posts}" as="post" iteration="count">
        <f:if condition="{count} === 1">
            <div class="col">
                <f:render section="link" arguments="{classes:'',likes:'1000',comments:'98'}"/>
        </f:if>

        <f:if condition="{count} === 2">
                <f:render section="link" arguments="{classes:'',likes:'2000',comments:'98'}"/>
            </div>
        </f:if>

    </f:for>

    <div class="col">
      <f:render section="link" arguments="{classes:'',likes:'23',comments:'98',imgclasses:'w-100'}"/>
    </div>

    <div class="col">
      <f:render section="link" arguments="{classes:'',likes:'23',comments:'98'}"/>
    </div>

    <div class="col">
      <f:render section="link" arguments="{classes:'',likes:'23',comments:'98'}"/>
    </div>

    <div class="col">
      <f:render section="link" arguments="{classes:'',likes:'23',comments:'98'}"/>
    </div>

  </div>
</div>

<f:section name="link">
    <a data-bs-target="#modal-post" data-bs-toggle="modal" href="#" class="{classes}">
      <div>
        <img class="img-fluid {imgclasses}" src="https://via.placeholder.com/480x480">
      </div>
      <div class="overlay">
        <i class="fa fa-heart"></i>{likes}<i class="fa fa-comment"></i>{comments}
      </div>
    </a>
</f:section>
