<f:debug title="_all">{_all}</f:debug>
<div class="container">
  <div class="gallery-grid explore" id="gallery2">
    <div class="col">
      <a class="mb-2 mb-md-3 mb-lg-4" data-bs-target="#modal-post" data-bs-toggle="modal" href="#">
        <div>
          <img class="img-fluid" src="img/love.jpg">
        </div>
        <div class="overlay">
          <i class="fa fa-heart"></i>387<i class="fa fa-comment"></i>81
        </div>
      </a><a data-bs-target="#modal-post" data-bs-toggle="modal" href="#">
        <div>
          <img class="img-fluid" src="https://via.placeholder.com/480x480">
        </div>
        <div class="overlay">
          <i class="fa fa-heart"></i>387<i class="fa fa-comment"></i>81
        </div>
      </a>
    </div>
    <div class="col">
      <a data-bs-target="#modal-post" data-bs-toggle="modal" href="#">
        <div>
          <img class="img-fluid w-100" src="https://via.placeholder.com/480x480">
        </div>
        <div class="overlay">
          <i class="fa fa-heart"></i>387<i class="fa fa-comment"></i>81
        </div>
      </a>
    </div>
    <div class="col">
      <a data-bs-target="#modal-post" data-bs-toggle="modal" href="#">
        <div>
          <img class="img-fluid" src="https://via.placeholder.com/480x480">
        </div>
        <div class="overlay">
          <i class="fa fa-heart"></i>387<i class="fa fa-comment"></i>81
        </div>
      </a>
    </div>
    <div class="col">
      <a data-bs-target="#modal-post" data-bs-toggle="modal" href="#">
        <div>
          <img class="img-fluid" src="https://via.placeholder.com/480x480">
        </div>
        <div class="overlay">
          <i class="fa fa-heart"></i>387<i class="fa fa-comment"></i>81
        </div>
      </a>
    </div>
    <div class="col">
      <a data-bs-target="#modal-post" data-bs-toggle="modal" href="#">
        <div>
          <img class="img-fluid" src="https://via.placeholder.com/480x480">
        </div>
        <div class="overlay">
          <i class="fa fa-heart"></i>387<i class="fa fa-comment"></i>81
        </div>
      </a>
    </div>
  </div>
</div>
